# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
externalmods
classes

# Files from Forge MDK
forge*changelog.txt
*.jar
externalmods/identity-2.4.0_alexthw-1.19.1-forge.jar
